<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        The Tech Blog
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/blogpost">Home</a> 
        <a href="/">DashBoard</a> 
        {{!-- <a href="/login">Login</a>  --}}
        {{!-- <button class="no-button" id="homepage">Home</button>
        <button class="no-button" id="dashboard">Dashboard</button> --}}
        {{!-- <button class="no-button" id="logout">Login</button> --}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  {{!-- <script src="/js/profile.js"></script> --}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
